<!DOCTYPE HTML>
<html>
<head>
<title>ThinkGo演示</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/css/main.css">
<script type="text/javascript" src="/js/jquery-2.0.3.min.js"></script>
</head>
<body>
<div class="br3 b1 m10 p10 bg" >
<a href="/admin" >进入后台</a> (包含CRUD示例、文件上传示例)
</div>
<div class="br3 b1 m10 p10 bg">
模板演示<br>
包含模板:
{{template "index/nav.html" .}}
使用变量:
index/{{.Content}}
<br>
循环:
{{range $k, $v := .data}}
序号: {{$k}}
值: {{$v.name}}
{{end}}
</div>
<div class="br3 b1 m10 p10 bg" >
验证码演示: {{create_captcha}}
</div>
<div class="br3 b1 m10 p10 bg" >
日期演示: {{.Time}}
</div>
<div class="br3 b1 m10 p10 bg" >
Cache演示: {{.cache}}
</div>
<div class="br3 b1 m10 p10 bg" >
Cookie演示: {{.cookie}}
</div>
<div class="br3 b1 m10 p10 bg" >
发邮件演示: <a id="sendmail" href="javascript:;">点击发送</a>
</div>
<div class="br3 b1 m10 p10 bg" >
HttpClient演示: 看httpClientTest
</div>
<div class="br3 b1 m10 p10 bg" >
Md5: {{.md5}}
</div>
</body>
<script>
$(function() {
	$("#sendmail").on("click", function() {
		$.post("/api/sendmail", {}, function(r) {
			console.log(r);
		}, "json");
	});
});
</script>
</html>
